<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Site</title>
	<link rel="stylesheet" href="css/styleMarket.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css">
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

</head>
<header>
    <nav>
        <div class="logo-section ">
            <a href="# " id="logo"><i class="fas fa-apple-alt"></i> BioMarket</a>
            <button class="hb-button">Menu</button>
        </div>
        
        <ul>
			<li><a href="">Deconnexion</a></li>
            <li><a href="">Username</a></li>
        </ul>
    </nav>
</header>
<body>
	
	<!-- Debut galerie -->
	
	<div class="container-fluid" style='padding-top : 100px;'>
		<div class="container ">
			<div class="col-lg-10">
				
			<h1>Fruits</h1>
		
			<hr>
			<div class="row">
				 <div class="col-md-4">
				 	<img src="images/f1.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/f2.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/f3.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>Description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
			</div>
			<div class="row">
				 <div class="col-md-4">
				 	<img src="images/f4.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>Description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/f5.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>Description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/f6.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>Description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
			</div>

		</div>
		</div>
	</div>

	<div class="container-fluid" style='padding-top : 100px;'>
		<div class="container ">
			<div class="col-lg-10">
				
			
			<h1>Légumes</h1>
			<hr>
			<div class="row">
				 <div class="col-md-4">
				 	<img src="images/l1.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>Description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/l2.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/l3.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
			</div>
			<div class="row">
				 <div class="col-md-4">
				 	<img src="images/l4.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/l5.jpg" alt="" height="250" width="320">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
				  <div class="col-md-4">
				 	<img src="images/l6.jpg" alt="" height="250" width="300">
				 	<div class="hov">
				 		 <div class="content">
								<h2>Prix : 300 FCFA </h2>
								<p>description</p>
								<a href="" class="btn btn-danger">Commander</a>
				 		  </div>
				 	</div>
				 </div> 
			</div>
		</div>
		
		
		<div class="col-lg-2">

		</div>
		
	</div>
	</div>
	
	<script>
		$(function(){
			var hov = $('.hov');
			var img = $('img');
			var content = $('.content')

		// cacher le hover
				hov.hide();
		//Montrer l'élément
			img.mouseenter(function(){
				$(this).next().fadeIn('slow');
				content.addClass('content_hover'); 
			});

			hov.mouseleave(function(){
				$(this).fadeOut('slow');
				content.removeClass('content_hover');
			});

		});
	</script>

</body>

<footer style='margin-top : 50px;padding-top: 30px;'>
    <h5>&copy;copyright, Tous Droits réservés.
    <br>BioMarket</h5>
</footer>

</html>